global:
  scrape_interval: 5s
rule_files:
  - "alert.rules.yml"

scrape_configs:
  - job_name: "flask_app"
    static_configs:
      - targets: ["app:5000"]

  - job_name: "node"
    static_configs:
      - targets: ["node_exporter:9100"]

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]
